.about-us .banner_area {
  position: relative;
  background: url(../img/banner/about-banner.jpg) no-repeat center center;
  z-index: 1;
  min-height: 392px;
  padding-top: 0 !important;
  background-size: cover;
}
.about-us .banner_area .banner_inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 392px;
  z-index: 1;
}
.about-us .banner_area .banner_inner .overlay,
.feature_area .overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    316deg,
    rgba(66, 134, 244, 0.8) 0%,
    rgba(65, 8, 144, 0.6) 100%
  );
}

.image-wrap {
  width: 100%;
  height: 400px;
  position: relative;
}

.box {
  height: 60%;
  width: 70%;
  box-shadow: 0px 2px 25px -13px rgba(0, 0, 0, 0.26);
  border: 15px solid #fff;
  display: flex;
  text-align: center;
}

.image1 {
  background: url(../img/about-us/about3.jpg) no-repeat center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.image2 {
  background: url(../img/about-us/about2.jpg) no-repeat center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.positioned {
  position: relative;
  bottom: 4em;
  left: 8em;
  width: 60%;
  height: 65%;
}

#feature_area {
  position: relative;
  z-index: 0;
  background-attachment: fixed;
  padding-top: 2;
  background-color: rgba(96, 1, 180, 1);

  margin-top: 0;
}

.feature_area .icon span {
  font-size: 48px;
  color: #03124a;

  position: relative;
  top: 5px;
  margin-right: 10px;
}

.feature_area .text strong.number {
  font-weight: 700;
  font-size: 32px;
  color: #03124a;
  line-height: 1.3;
}

.feature_area .text span {
  display: block;
  font-size: 14px;
  color: rgba(2, 1, 28, 0.9);
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
}

@media (max-width: 767.98px) {
  .counter-wrap {
    margin-bottom: 20px;
  }
}
